a {
  cursor: pointer;
}

.icon {
  color: #999;
  &:hover {
    color: #444;
  }

  &-danger {
    color: #c00;

    &:hover {
      color: #900;
    }

  }
}

// icon column
table td.icon {
  width: 50px;
  text-align: right;
}

// ng validation styles
form {
  input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  input.ng-valid.ng-touched {
    background-color: #78FA89;
  }

  input.locode {
    text-transform: uppercase;
  }
}

cv-map {
  display: block;
  width: 100%;
  height: 300px;
  margin: auto;

  .button-remove-polygon {
    width: 26px;
    height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    background: #fff;

    font-size: 16px;
    padding: 4px;
    margin: 4px;

    &:hover {
      background-color: #eee;
    }
  }
}