<h1>Port list</h1>
<p>
    Search: <input ng-model="query">
</p>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="port in ports | filter: query">
        <td>{{port.name}}</td>
        <td>{{port.code}}</td>
        <td class="icon"><a title="edit" ng-click="editPort(port)"><i class="icon glyphicon glyphicon-edit"></i></a></td>
        <td class="icon icon-danger"><a title="remove" ng-click="removePort(port)"><i class="icon icon-danger glyphicon glyphicon-remove"></i></a></td>
    </tr>
</table>
<button ng-click="createPort()" class="btn btn-primary">Create</button>