<h1>Port edit form</h1>
<form name="portForm" novalidate="novalidate" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name:</label>
        <div class="col-sm-10">
            <input type="text" id="name" class="form-control"
                   ng-model="port.name" ng-model-options="{ debounce: 300 }"
                   required cv-unique-value="'/api/ports-check/name/'" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="code">Code:</label>
        <div class="col-sm-10">
            <input type="text" id="code" class="locode form-control" placeholder="AA BBB"
                   ng-model="port.code" ng-model-options="{ debounce: 300 }"
                   required pattern="[a-zA-Z]{2}\s?[a-zA-Z2-9]{3}" cv-unique-value="'/api/ports-check/code/'" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Polygon:</label>
        <div class="col-sm-10">
            <cv-map polygon="port.polygon"/>
            <!-- This hidden field is for validation. -->
			<input type="hidden" ng-model="port.polygon" required></input>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="maxVesselWidth">Max vessel width:</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="number" id="maxVesselWidth" class="form-control"
                       ng-model="port.maxVesselWidth"  required min="0" />
                <div class="input-group-addon">meters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="maxVesselLength">Max vessel length:</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="number" id="maxVesselLength" class="form-control"
                       ng-model="port.maxVesselLength" required min="0" />
                <div class="input-group-addon">meters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a ng-click="cancel()" class="btn btn-small">Cancel</a>
            <a ng-click="save()" ng-disabled="portForm.$invalid || portForm.$pending" class="btn btn-small btn-primary">Save</a>
        </div>
    </div>
</form>